@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	font-weight: 450;
}

a {
	text-decoration: none;
}

.table th, .table td {
	vertical-align: middle;
}

li {
	list-style: none;
}

/* 헤더 */
#index-header {
	width: 100%; position: fixed; z-index: 1040; 
	background-color: transparent;
	-moz-transition: background, 0.2s;
	-o-transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
	transition: background, 0.2s;
} 

#index-header.roll {
	background-color: white; box-shadow: 0 0px 3px 0px rgb(0 0 0 / 20%);
	-moz-transition: background, 0.5s;
	-o-transition: background, 0.5s;
	-webkit-transition: background, 0.5s;
	transition: background, 0.5s;
} 

#main-header {
	top: 0;	width: 100%; position: fixed; z-index: 1040; 
	background-color: white; box-shadow: 0 0px 3px 0px rgb(0 0 0 / 20%);
	
} 
#inner-main-header {
	 margin: auto; max-width: 1200px; display: flex; justify-content: space-between; vertical-align: middle;
}

#logo_menu {
	display: flex; justify-content: space-between;
}

#logo_menu h1 {
	margin: 10px 50px 0 0;
}

#inner-main-header ul {
	margin: 0; padding: 0;
}

#inner-main-header li {
	margin: 25px 0 25px 50px; padding: 0; float: left; list-style: none; 
}

#inner-main-header a {
	font-size: 17px; font-weight: 700; color: #690000;
}

#inner-main-header a:hover {
	color: #EB5353;
	-moz-transition: background, 0.2s;
	-o-transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
	transition: background, 0.2s;
}

/* 푸터 */
#main-footer {
	background-color: #222;
}

#inner-main-footer {
	 margin: 0 auto; max-width: 1200px; padding: 30px 0;
	 display: flex; justify-content: space-between;
}

#inner-main-footer h1 {
	padding: 15px 0;
}

#main-footer span {
	display: table-cell;
	color: #b2b2b2; font-size: 15px; font-weight: 300; vertical-align: middle;
}

#main-footer span.incInfo {
	padding: 25px 0;
}

.main-body {
	margin: 0 auto 100px; max-width: 1200px; 
}

.main-content {
	margin: 100px auto; max-width: 1200px; min-height: 537px; position: relative;
}

#sidebar-layout {
	margin: 150px auto 80px; max-width: 1200px; min-height: 507px; position: relative;
	display: flex; justify-content: space-between;
}

#sidebar {
	width: 180px; color: #333;
}

#sidebar #inner-sidebar {
	position: fixed;
}

#sidebar h4 {
	font-weight: 600; padding-bottom: 15px;
	border-bottom: 1px solid #888; display: inline-block;
}

#sidebar h5 {
	font-weight: 700; font-size: 18px; margin-top: 20px;
}

#sidebar ul {
	margin: 5px 0 0;
}

#sidebar li {
	margin: 5px 0; list-style: none;
}

#sidebar-content {
	width: 970px;
}

#sidebar-content h3 {
	font-weight: 600;
}

#sidebar-content #calendar {
	padding: 30px 0;
}

.index-title {
	font-weight: 600; color: #333;
	padding: 50px 0 0;
}

.classList {
	display: flex; justify-content: flex-start; flex-wrap: wrap;
}

.classBox {
	 padding: 10px;
}

#teacherInfoBox {
	display: flex; justify-content: flex-start; margin: 30px 0 0;
}

#teacherInfoBox .teacherImage {
	margin: 0 50px 0 0; width: 100px; height: 100px; border-radius: 100px;
}

.boardTable, .boardTable button {
	font-size: 15px;
}

#teacherInfo {
	margin: auto 0;
}

.boardTable .no-record {
	padding-top: 50px; text-align: center;
}

.boardTable i {
	color: #444; padding-left: 10px;
}

#reviewTable td:first-child {
	width: 101px; text-align: center;
}

#reviewTable td:nth-child(3) {
	width: 100px;
}

#reviewTable td:nth-child(4) {
	text-align: center; width: 112px;
}

#reviewTable td:nth-child(5), #reviewTable td:nth-child(6) {
	padding: 10px 0; width: 26px; text-align: center;
}

#reviewTable th {
	background-color: #f9f9f9;
}

#reviewTable th img {
	max-width: 100%; border-radius: 5px; margin: 20px auto;
}

#reviewTable th div {
	margin: 20px 0;
}

.starRate {
	text-align: center; direction: rtl;
}

.starRate input[type=radio] {
	display: none;
}

.starRate label {
	color: #bfbfbf;
}

.starRate label:hover {
	color: #ffab00
}

.starRate label:hover ~ label {
	color: #ffab00
}

.starRate input[type=radio]:checked ~ label {
	color: #ffab00
}

.modalImageBox img {
	max-width: 466px; max-height: 280px; border-radius: 5px;
}

.modalImageBox button {
	width: 466px; height: 280px;
}

.modalImageBox input {
	display: none;
}

#qnaTable td, #qnaTable th {
	text-align: center;
}

#qnaTable td:first-child {
	width: 80px;
}

#qnaTable td:nth-child(2) {
	width: 410px; text-align: left;
}

#qnaTable td:nth-child(3) {
	text-align: left; width: 100px;
}

#qnaTable td:nth-child(5), #qnaTable td:nth-child(6) {
	padding: 10px 0; width: 26px;
}

#qnaTable .qnaDetailRecode {
	background-color: #f9f9f9;
}

#qnaTable .qnaDetailRecode th {
	border: none;
}

.classInfoBox .classBoxName {
	display: flex; justify-content: space-between; font-weight: 650;
}

.classInfoBox h5 {
	font-weight: 630; margin-bottom: 15px;
}

.classInfoBox .infraList {
	padding: 0; margin: 5px 0; display: flex; justify-content: space-between;
}

.classInfoBox .infraList li {
	padding: 10px; margin: 5px; text-align: center; color: #555;
}

.classInfoBox .infraList li div {
	padding-top: 10px;
}

.classInfoBox #route {
	margin: 10px 0 30px;
}

.classBox .classBoxImg {
	width: 380px; height: 253px; border-radius: 10px; overflow: hidden;
}

.classBox a:hover {
	color: black;
}

.classBox .classBoxImg img {
	width: 380px; height: 253px; transform: scale(1.0); transition: transform .5s;
}

.classBox .classBoxImg img:hover {
    transform: scale(1.2); transition: transform .5s;
}

.classBox .classBoxContent {
	padding: 10px 0;
}

.classBox .classBoxName {
	display: flex; justify-content: space-between; line-height: 40px;
}

.classBox .classBoxName span {
	font-weight: 700; color: #333;
}

.classBox .likeBtn  {
	width: 37px; height: 37px; line-height: 28px; border-radius: 18px; border-width: 2px;
}

.classBox .classBoxInfo {
	display: flex; justify-content: space-between; color: #555; 
}

.classBox .classBoxLocation i {
	padding: 0 10px;
}

.classBox .classBoxLocation span {
	padding: 0 20px 0 0; margin: 0 10px 0 0; border-right: 2px solid #888;
}

.classMore {
	text-align: right; font-size: 18px;
}

.title {
	text-align: center; margin: 50px 0 30px; padding: 50px 0 40px; border-bottom: 2px solid #ddd;
}

#classDetail {
	display: flex; justify-content: space-between; margin: 42px 0 0;
}

#classInfomation{
	width: 750px;
}

#classInfomation .classImageBox img {
	border-radius: 15px; max-width: 750px;
}

#classOrderCalendar {
	width: 430px;
}
			
.orderTable tr, .orderTable td {
	height: 10px; vertical-align: middle;
}

.fc-daygrid-day-frame {
	border: 1px solid #f3f4f6;
}

#classBox {
	padding: 20px 0;
}

#classBox .className {
	display: flex; justify-content: space-between; line-height: 40px;
}

#classBox .className span {
	font-weight: 700; color: #333;
}

#classBox .likeBtn  {
	width: 37px; height: 37px; line-height: 28px; border-radius: 18px; border-width: 2px;
}

#classBoxInfo {
	display: flex; justify-content: space-between; width: 60%;
}

#classBoxInfo h6 {
	line-height: 25px;
}

#classBoxInfo i {
	padding: 0 10px;
}

#classNav {
	background-color: white; padding: 80px 0 0;
}

#classNav .btn-outline-primary {
	border: 0;
}

#classNav a {
	 font-weight: 700px;
}

.classInfoBox {
	padding: 80px 0 0;
}

#bookForm {
	width: 100%; display: flex; justify-content: space-between; 
}

#bookForm table {
	margin: 0;
}

#bookForm .book-title {
	font-weight: 600; color: #333;
	padding: 0 0 10px;
}

#bookForm > .bookInfoBox > div {
	width: 570px; padding: 20px;
}

#bookForm th, #bookForm td {
	vertical-align: middle;
}

#bookComplete {
	text-align: center; margin: 50px 100px; padding: 50px;
}

#bookComplete h4 {
	padding: 50px 0;
}

#bookComplete .bookComplete-btn {
	margin: 10px;
}

#bookListBox {
	padding: 0 0 30px;
}

#bookListBox #none {
	padding: 100px;
}

#bookListBox #none h4 {
	font-weight: 600; color: #555; padding: 20px;
}

#bookListBox #searchBox select {
	display: inline; width: 200px;
}

#bookListBox .table {
	text-align: center; 
}

#bookListBox .table th, #bookListBox .table td {
	height: 60px; font-size: 16px;
}

#bookListBox .table th {
	font-weight: 700px;
}

#sidebar-content #bookForm > .bookInfoBox > div {
	width: 470px; padding: 10px;
}

.bookerInfo td {
	height: 50px; vertical-align: middle; font-size: 16px;
}

#flex {
	display: flex; justify-content: space-around; 
}

/* 선생님 관리 페이지 */
#manage-main {
    padding-left: 260px;
}

#manage-main-content {
	max-width: calc(1440px - calc(1.625rem * 2));
    margin: 30px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);
}

#navbar-collapse h4 {
	font-weight: 700; margin: auto 30px;
}

.hide {
	visibility: hidden;
}

.teacherClassBox {
	 padding: 5px; margin: 5px; border-radius: 5px; background-color: white;
}

.teacherClassBox .classBoxImg {
	width: 300px; height: 200px; border-radius: 10px; overflow: hidden;
}

.teacherClassBox .classBoxImg img {
	width: 300px; height: 200px; transform: scale(1.0); transition: transform .5s;
}

.teacherClassBox .classBoxImg img:hover {
    transform: scale(1.2); transition: transform .5s;
}

.teacherClassBox .classBoxContent {
	padding: 10px 0;
}

.teacherClassBox .classBoxName {
	display: flex; justify-content: space-between; line-height: 40px;
}

.teacherClassBox .classBoxName span {
	font-weight: 700; color: #333;
}

.teacherClassBox .classBoxInfo {
	display: flex; justify-content: flex-end;
}

.teacherClassBox .classBoxInfo .btn {
	margin-left: 10px;
}

#classTable {
	text-align: center; width: 750px; margin: auto;
}

#classTable h5 {
	text-align: left; margin-top: 20px;
}

#classTable .image-container, .fileBtn {
	width: 750px; height: 500px; margin: auto; border: 1px solid #CED4DA; border-radius: 5px; background-color: transparent;
}

#classTable .image-container img {
	max-width: 750px; max-height: 500px; border-radius: 5px; margin: auto; vertical-align: middle;
}

#classTable .profileImgCon {
	width: 200px; height: 200px; margin: auto; border: 1px solid #CED4DA; border-radius: 5px; background-color: transparent;
}

#classTable .profileImgCon img {
	width: 200px; height: 200px; border-radius: 5px; margin: auto; vertical-align: middle;
}

#classTable #input-image {
	display: none;
}

.fileBtn i {
	display: block; padding: 30px;
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}

#teacherBookList .table {
	text-align: center; margin-top: 50px;
}

#teacherBookList .table th, #bookListBox .table td {
	height: 60px; vertical-align: middle; font-size: 16px;
}

#teacherBookList .table th {
	font-weight: 700px;
}

#teacherBookList .table h3 {
	margin: 100px 0;
}

#allBookList .table {
	text-align: center;
}

#allBookList .table th, #allBookList .table td {
	height: 60px; vertical-align: middle; font-size: 16px;
}

#allBookList .table th {
	font-weight: 700px;
}

#allBookList .table h3 {
	margin: 100px 0;
}

#allBookList .qnaTable td:first-child {
	width: 100px;
}

#allBookList .qnaTable td:nth-child(2) {
	width: 350px;
}

#allBookList .qnaTable td:nth-child(3) {
	text-align: left;
}

#allBookList .qnaTable td:nth-child(4),
#allBookList .qnaTable td:nth-child(5),
#allBookList .qnaTable td:nth-child(6) {
	width: 120px;
}

#allBookList .reviewTable td:first-child {
	width: 300px;
}

#allBookList .reviewTable td:nth-child(2) {
	width: 125px;
}

#allBookList .reviewTable td:nth-child(3) {
	text-align: left;
}

#allBookList .reviewTable td:nth-child(4) {
	width: 120px;
}

.questionModalTable td {
	height: 50px; text-align: left;
}

.questionModalTable tr:first-child td {
	text-align: center;
}

.questionModalTable tr:nth-child(2) td {
	vertical-align: bottom;
}

.questionModalTable tr:nth-child(3) td {
	vertical-align: top;
}


.questionModalTable td:nth-child(2) {
	text-align: right;
}

.answerModalTable td {
	text-align: left;
}

.answerModalTable td:nth-child(2) {
	text-align: right;
}

#pagenation {
	margin-top: 50px;
}

.modalReviewImage {
	max-width: 450px; border-radius: 5px;
}

.likeBox {
	 padding: 10px 0; margin: auto;
}

.likeBox > div {
	display: flex; justify-content: space-between; padding: 10px;
}

.likeBox .likeBoxImg {
	width: 150px; height: 100px; border-radius: 5px; overflow: hidden;
}

.likeBox a:hover {
	color: black;
}

.likeBox .likeBoxImg img {
	width: 150px; height: 100px; transform: scale(1.0); transition: transform .5s;
}

.likeBox .likeBoxImg img:hover {
    transform: scale(1.2); transition: transform .5s;
}

.likeBox .classBoxContent {
	padding: 10px 0; text-align: right; width: 180px;
}

.likeBox .classBoxName {
	font-weight: 700; color: #333; text-align: left;
}

.likeBox .likeBtn  {
	width: 32px; height: 32px;  line-height: 25px; border-radius: 18px; border-width: 1px;
}

.likeBox .classBoxInfo {
	display: flex; justify-content: space-between; color: #555; 
}

.likeBox .classBoxLocation i {
	padding: 0 10px;
}

.likeBox .classBoxLocation span {
	padding: 0 20px 0 0; margin: 0 10px 0 0; border-right: 2px solid #888;
}

button.page-link {
	border: none;
}

#summary {
	display: flex; justify-content: space-between; padding: 10px;
	
}

#summary > div {
	display: flex; justify-content: flex-start;
}

#summary .icon {
	width: 60px; height: 60px; text-align: center; line-height: 30px; border-radius: 10px;
	margin-right: 20px;
}

.indexBox {
	padding-top: 50px;
}

.indexBox h4 {
	font-weight: 600; padding-bottom: 15px;
}

.indexBox h5 {
	padding: 30px;
}

.indexBox table {
	text-align: center;
}

.indexBox table th, .indexBox table td {
	font-size: 15px;
}

#chartBox {
	display: flex; justify-content: space-around;
}

#chartBox canvas {
	width: 500px;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #EB5353;
  font-size: 12px;
  border: 1px solid #EB5353;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:not([disabled]):hover {
	 background-color: #EB5353;
}

i.fa-star{
	padding: 0;
}

#map {
	height: 400px; width: 750px; border-radius: 10px; margin: 20px 0 ;
}

#sidebarHeader {
	display: flex; justify-content: space-between; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd;
}

#boardHeader a {
	margin:auto 10px; line-height: 36px;
}

#boardSearchBox {
	display: flex; justify-content: space-between;
}

#boardListBox .table td {
	height: 50px;
}

#boardListBox .table th:first-child {
	width: 100px;
}

#boardListBox .table td:nth-child(2) {
	text-align: left; padding: 0 30px;
}

#boardListBox .table th:nth-child(3) {
	width: 120px;
}

#boardListBox .table th:nth-child(4) {
	width: 120px;
}

#boardListBox .table th:nth-child(5) {
	width: 80px;
}

.accordion-body img {
	max-width: 914px; border-radius: 5px; margin-bottom: 20px;
}

#boardDetailTable tr:first-child td {
	padding: 0 30px 20px;
}

#boardDetailTable h4 {
	font-weight: 600;
}

#boardDetailTable #date {
	color: #999;
}

#boardDetailTable p, #boardDetailTable pre, #boardDetailTable h6 {
	margin: 0; max-width: 890px; white-space: pre-wrap; line-height: 30px;
}

#boardDetailTable img {
	width: 100%; margin-bottom: 20px;
}

#askTable img{
	max-width: 810px; margin: 0 auto 20px;
}

#askTable tr td {
	padding: 30px;
}

#askTable tr td:first-child {
	width: 100px;
}

#askTable tr td:nth-child(2) {
	width: 870px;
}

#askTable tr:first-child td {
	padding: 0 30px 30px; width: 100%;
}

#askTable h4 {
	font-weight: 600;
}

#askTable #date {
	color: #999;
}

#askTable p, #askTable pre, #askTable h6 {
	margin: 0; max-width: 890px; white-space: pre-wrap; line-height: 30px;
}

p, pre {
	margin: 0; max-width: 970px; white-space: pre-wrap; 
}

#placeInfra {
	display: flex; justify-content: space-between; padding: 10px 0;
}