@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	font-weight: 450;
}

a {
	text-decoration: none;
}

/* 헤더 */
#index-header {
	width: 100%; position: fixed; z-index: 1040; 
	background-color: transparent;
	-moz-transition: background, 0.2s;
	-o-transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
	transition: background, 0.2s;
} 

#index-header.roll {
	background-color: white; box-shadow: 0 0px 3px 0px rgb(0 0 0 / 20%);
	-moz-transition: background, 0.5s;
	-o-transition: background, 0.5s;
	-webkit-transition: background, 0.5s;
	transition: background, 0.5s;
} 

#main-header {
	top: 0;	width: 100%; position: fixed; z-index: 1040; 
	background-color: white; box-shadow: 0 0px 3px 0px rgb(0 0 0 / 20%);
	
} 
#inner-main-header {
	 margin: auto; max-width: 1200px; display: flex; justify-content: space-between; vertical-align: middle;
}

#logo_menu {
	display: flex; justify-content: space-between;
}

#logo_menu h1 {
	margin: 0px 50px 15px 0;
}

#inner-main-header ul {
	margin: 0; padding: 0;
}

#inner-main-header li {
	margin: 25px 0 25px 50px; padding: 0; float: left; list-style: none; 
}

#inner-main-header a {
	font-size: 17px; font-weight: 700; color: #690000;
}

#inner-main-header a:hover {
	color: #EB5353;
	-moz-transition: background, 0.2s;
	-o-transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
	transition: background, 0.2s;
}

/* 푸터 */
#main-footer {
	background-color: #222;
}

#inner-main-footer {
	 margin: 0 auto; max-width: 1200px; padding: 30px 0;
	 display: flex; justify-content: space-between;
}

#inner-main-footer h1 {
	padding: 15px 0;
}

#main-footer span {
	display: table-cell;
	color: #b2b2b2; font-size: 15px; font-weight: 300; vertical-align: middle;
}

#main-footer span.incInfo {
	padding: 25px 0;
}

.main-body {
	margin: 0 auto 100px; max-width: 1200px; 
}

.main-content {
	margin: 100px auto; max-width: 1200px; position: relative;
}

#sidebar-layout {
	margin: 150px auto 80px; max-width: 1200px; min-height: 507px; position: relative;
	display: flex; justify-content: space-between;
}

#sidebar {
	width: 180px; color: #333;
}

#sidebar #inner-sidebar {
	position: fixed;
}

#sidebar h4 {
	font-weight: 600; margin-bottom: 20px; padding-bottom: 15px;
	border-bottom: 1px solid #888; display: inline-block;
}

#sidebar h5 {
	font-weight: 700; font-size: 18px;
}

#sidebar ul {
	margin: 5px 0 20px;
}

#sidebar li {
	margin: 5px 0; list-style: none;
}

#sidebar-content {
	width: 970px;
}

#sidebar-content h3 {
	font-weight: 600;
	margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #ddd;
}

#sidebar-content #calendar {
	padding: 30px 0;
}

.index-title {
	font-weight: 600; color: #333;
	padding: 50px 0 0;
}

.classList {
	display: flex; justify-content: flex-start; flex-wrap: wrap;
}

.classBox {
	 padding: 10px;
}

.classBox .classBoxImg {
	width: 380px; height: 253px; border-radius: 10px; overflow: hidden;
}

.classBox a:hover {
	color: black;
}

.classBox .classBoxImg img {
	width: 380px; height: 253px; transform: scale(1.0); transition: transform .5s;
}

.classBox .classBoxImg img:hover {
    transform: scale(1.2); transition: transform .5s;
}

.classBox .classBoxContent {
	padding: 10px 0;
}

.classBox .classBoxName {
	display: flex; justify-content: space-between; line-height: 40px;
}

.classBox .classBoxName span {
	font-weight: 700; color: #333;
}

.classBox .likeBtn  {
	width: 37px; height: 37px; line-height: 28px; border-radius: 18px; border-width: 2px;
}

.classBox .classBoxInfo {
	display: flex; justify-content: space-between; color: #555; 
}

.classBox .classBoxLocation i {
	padding: 0 10px;
}

.classBox .classBoxLocation span {
	padding: 0 20px 0 0; margin: 0 10px 0 0; border-right: 2px solid #888;
}

.classMore {
	text-align: right; font-size: 18px;
}

.title {
	text-align: center; margin: 50px 0 30px; padding: 50px 0 40px; border-bottom: 2px solid #ddd;
}

#classDetail {
	display: flex; justify-content: space-between; margin: 42px 0 0;
}

#classInfomation{
	width: 750px;
}

#classOrderCalendar {
	width: 430px;
}
			
.orderTable tr, .orderTable td {
	height: 10px; vertical-align: middle;
}

.fc-daygrid-day-frame {
	border: 1px solid #f3f4f6;
}

#classBox {
	padding: 20px 0;
}

#classBox .className {
	display: flex; justify-content: space-between; line-height: 40px;
}

#classBox .className span {
	font-weight: 700; color: #333;
}

#classBox .likeBtn  {
	width: 37px; height: 37px; line-height: 28px; border-radius: 18px; border-width: 2px;
}

#classBoxInfo {
	display: flex; justify-content: space-between; width: 60%;
}

#classBoxInfo h6 {
	line-height: 25px;
}

#classBoxInfo i {
	padding: 0 10px;
}

#classNav {
	background-color: white; padding: 80px 0 0;
}

#classNav .btn-outline-primary {
	border: 0;
}

#classNav a {
	 font-weight: 700px;
}

.classInfoBox {
	padding: 80px 0 0;
}

#bookForm {
	width: 100%; display: flex; justify-content: space-between; 
}

#bookForm table {
	margin: 0;
}

#bookForm .book-title {
	font-weight: 600; color: #333;
	padding: 0 0 10px;
}

#bookForm > .bookInfoBox > div {
	width: 570px; padding: 20px;
}

#bookForm th, #bookForm td {
	vertical-align: middle;
}

#bookComplete {
	text-align: center; margin: 50px 100px; padding: 50px;
}

#bookComplete h4 {
	padding: 50px 0;
}

#bookComplete .bookComplete-btn {
	margin: 10px;
}

#bookListBox {
	padding: 0 0 30px;
}

#bookListBox #none {
	padding: 100px;
}

#bookListBox #none h4 {
	font-weight: 600; color: #555; padding: 20px;
}

#bookListBox #searchBox select {
	display: inline; width: 200px;
}

#bookListBox .table {
	text-align: center; 
}

#bookListBox .table th, #bookListBox .table td {
	height: 60px; vertical-align: middle; font-size: 16px;
}

#bookListBox .table th {
	font-weight: 700px;
}

#sidebar-content #bookForm > .bookInfoBox > div {
	width: 470px; padding: 10px;
}

.bookerInfo td {
	height: 50px; vertical-align: middle; font-size: 16px;
}

#flex {
	display: flex; justify-content: space-around; 
}

/* 선생님 관리 페이지 */
#teacher-main {
    padding-left: 260px;
}

#teacher-main-content {
	max-width: calc(1440px - calc(1.625rem * 2));
    margin: 30px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);
}

#navbar-collapse h4 {
	font-weight: 700; margin: auto 30px;
}

.hide {
	visibility: hidden;
}

.teacherClassBox {
	 padding: 5px; margin: 5px; border-radius: 5px; background-color: white;
}

.teacherClassBox .classBoxImg {
	width: 300px; height: 200px; border-radius: 10px; overflow: hidden;
}

.teacherClassBox .classBoxImg img {
	width: 300px; height: 200px; transform: scale(1.0); transition: transform .5s;
}

.teacherClassBox .classBoxImg img:hover {
    transform: scale(1.2); transition: transform .5s;
}

.teacherClassBox .classBoxContent {
	padding: 10px 0;
}

.teacherClassBox .classBoxName {
	display: flex; justify-content: space-between; line-height: 40px;
}

.teacherClassBox .classBoxName span {
	font-weight: 700; color: #333;
}

.teacherClassBox .classBoxInfo {
	display: flex; justify-content: flex-end;
}

.teacherClassBox .classBoxInfo .btn {
	margin-left: 10px;
}

#classTable {
	text-align: center; margin: auto;
}

#classTable .image-container, .fileBtn {
	width: 750px; height: 500px; margin: auto; border: 1px solid #CED4DA; border-radius: 5px; background-color: transparent;
}

#classTable .image-container img {
	max-width: 750px; max-height: 500px; border-radius: 5px; margin: auto; vertical-align: middle;
}

#classTable #input-image {
	display: none;
}

.fileBtn i {
	display: block; padding: 30px;
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}